.chat {
  border: 1px solid #aaa;
  border-radius: 7px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 11px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 550px;
  }

.chat-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 15px;
}

.chat-messages {
  overflow: scroll;
  flex: 1;
}

.message {
  border-radius: 10px;
  padding: 5px 14px;
  margin-bottom: 20px;
  word-break: break-word;
}

.chat-composer {
  border-top: 1px solid #aaa;
  padding: 7px 15px;
}

.chat-composer-textInput {
  margin: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
  font-size: 18px;
  flex: 1;
}

.chat-composer-imageInput {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.chat-composer-label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
  margin: 0 10px;
  color: #aaa;
}
