a {
  color: #111;
}

.section-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.section-menu-item {
  margin: 0 30px;
}

.section-menu-item--active {
  margin: 0 30px;
  border-bottom: 1px solid #111;
}

.topic-list {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.topic-list-item {
  border: 1px solid #111;
  border-radius: 7px;
  padding: 18px;
  margin-bottom: 18px;
  width: 50%;
}
