@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.course-exercise-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 35px;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.course-exercise-question {
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-exercise-question-translation {
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
}
